<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi there! Your order has been accepted!, <%= @user.name %></h1>
    <p>
        You should expect your order soon!
    </p>
    <p>
      To login to the site to see your orders
      <a href = "/login" class = "button">Login!</a>
    </p>
    <p>Thanks for ordering!</p>
  </body>
</html>