<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/3.2.1/assets/font-awesome/css/font-awesome.css">
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="index.html">Home</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="#">Login</a></li>
					<li><a href="#">Cart</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<i class="icon fa-coffee"></i>
				<h2>Expresso</h2>
				<p>Coffee is always a good idea</p>
				<ul class="actions">
					<li><a href="#" class="button big">Learn More</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="https://i.gyazo.com/52215e50b2d02fa786b05b35bbcbdf35.jpg" alt="" /></span>
						<div class="content">
							<h2>Starbucks Coffee</h2>
							<p>Starbucks, the most popular coffee shop in the world, aims to inspire and nurture the human spirit – one person, one cup and one neighborhood at a time.</p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">Starbucks Menu</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="https://i.gyazo.com/63a1df799e8f7dca60caf36bc7bb8355.jpg" alt="" /></span>
						<div class="content">
							<h2>Village Coffee</h2>
							<p>Village Coffee is a casual corner cafe on Freret street which serves espresso drinks and baked goods plus a menu of sandwiches and wraps</p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">Village Menu</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="https://i.gyazo.com/10764e11ecced412a40abc7c4c36d182.png" alt="" /></span>
						<div class="content">
							<h2>Addiction Coffee House</h2>
							<p>Proudly serving beans and teas sourced by New Orleans-based small batch roaster French Truck Coffee and hand-crafted pastries by Master Pastry Chef Ziggy Cichowski of New Orleans' Maple Street Patisserie.</p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">Addiction Menu</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="http://blog.krrb.com/wp-content/uploads/2013/07/cafe-du-monde-beignets.jpg" alt="" /></span>
						<div class="content">
							<h2>Cafe Du Monde</h2>
							<p>Cafe Du Monde is world famous for its cafe' au lait and beignets. French for "Café of the World", it is a coffee shop on Decatur Street in the French Quarter.</p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">Cafe Du Monde Menu</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>


<!-- 			<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>Aliquam Blandit Mauris</h2>
						<p>Ipsum dolor tempus commodo turpis adipiscing Tempor placerat sed amet accumsan</p>
					</header>
					<div class="image-grid">
						<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic10.jpg" alt="" /></a>
					</div>
					<ul class="actions">
						<li><a href="#" class="button big alt">Tempus Aliquam</a></li>
					</ul>
				</div>
			</section> -->



		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<h2>Testimonials</h2>
						<p id="studioGreetings">Hello from Neil!<br/>Hello from Wilson!<br/>Hello from Sarah!<br/>Hola from Peter!</p>
					</header>
					<ul class="actions">
						<li><a href="#" class="button big alt">See More</a></li>
					</ul>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>Get in touch</h2>
						<p>If you'd like to leave some feedback, voice a concern, or even tell us a joke, simply fill out the form below! We love to hear from you!</p>
					</header>
					<form action="#" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="Submit" /></li>
							<li><input type="reset" class="alt" value="Reset" /></li>
						</ul>
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Expresso</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>