<div class="header">
  <div class="container">
    <h1>Orders</h1>
  </div>
</div>

<div class="orders">
  <div class="container">
      <table class="order" style="width:100%">
        <% @orders.each do |order| %>
              <tr>
                <td class="orderid"><%= order.id %></td>
                <td class="content"><%= order.content %></td>
                <td class="time"><%= order.created_at %></td>
              </tr>
        <% end %>
      </table>
    <%= link_to 'New Order', "orders/new" %>
  </div>
</div>