<div class="header">
  <header id="header">
				<h1><a href="/">Expresso</a></h1>
				<a href="#nav">Menu</a>
			</header>

			<nav id="nav">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="#">Login</a></li>
					<li><a href="#">Cart</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</nav>
			
  <div class="container">
    <br/>
    <h1>Orders</h1>
  </div>
</div>

<div class="orders">
  <div class="container">
      <table class="order" style="width:100%">
        <thead>
										<tr>
											<th>ID</th>
											<th>Description</th>
											<th>Date Created</th>
										</tr>
									</thead>
        <% @orders.each do |order| %>
              <tr>
                <td class="orderid"><%= order.id %></td>
                <td class="content"><%= order.content %></td>
                <td class="time"><%= order.created_at %></td>
              </tr>
        <% end %>
      </table>
    <a href="orders/new" class="button special">New Order</a>
  </div>
  <br/><br/>
</div>

<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Expresso</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>
