<div class="container">
    <br/>
    <h1>Login</h1>
</div>

<div class="login">
  <div class="container">
    <%= form_tag(controller: 'login', action: 'setCurrUserID') do %>
        <%= label_tag :newCurrUserID, "Current User ID is " + Rails.application.config.currUserID  %>
        New Current User ID:
        <%= text_field_tag :newCurrUserID %> <br/>
        <%= submit_tag "Set Current User", class: "button special" %>
    <% end %>
  </div>
</div>

