<div class="container">
    <br/>
    <h1>Login</h1>
</div>

<div class="login">
  <div class="container">

    Current User ID:
    <%= link_to "Set Current User", "/login", {:class=>"button special"} %>
  </div>
</div>

